@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2)
    format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
    U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/righteous/v13/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
@media only screen and (min-width:1450px){
  .section1 {
    background-color: #7030cc;
    color: #ffffff;
  }
  .section1Image {
    margin-left: 138px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .lists {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
    margin-left: 520px;
  }
  .listItem {
    list-style-type: none;
  }
  .listItem:hover {
    color: #1bbcef;
    border-bottom: 1px solid #ce6bde;
  }
  .largeButton {
    background-color: #1bbcef;
    color: #ffffff;
    border: 1px;
    width: 110px;
    height: 37px;
    margin-right: 150px;
  }
  .sectionBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .sec1Image {
    width: 620px;
    position: relative;
    bottom: 45px;
    margin-right: 70px;
  }
  .section1Left {
    margin-top: 60px;
    margin-left: 150px;
  }
  .section1Left h1 {
    font-size: 48px;
  }
  .section1Left p {
    margin-top: 32px;
    font-size: 15px;
  }
}
@media only screen and (max-width:1450px) and (min-width:1200px){
  .section1 {
    background-color: #7030cc;
    color: #ffffff;
  }
  .section1Image {
    margin-left: 138px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .lists {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
  }
  .listItem {
    list-style-type: none;
  }
  .listItem:hover {
    color: #1bbcef;
    border-bottom: 1px solid #ce6bde;
  }
  .largeButton {
    background-color: #1bbcef;
    color: #ffffff;
    border: 1px;
    width: 110px;
    height: 37px;
    margin-right: 150px;
  }
  .sectionBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .sec1Image {
    width: 620px;
    position: relative;
    bottom: 45px;
    margin-right: 70px;
  }
  .section1Left {
    margin-top: 60px;
    margin-left: 150px;
  }
  .section1Left h1 {
    font-size: 48px;
  }
  .section1Left p {
    margin-top: 32px;
    font-size: 15px;
  }
}
@media only screen and (max-width:1200px) and (min-width:949px){
  .section1 {
    background-color: #7030cc;
    color: #ffffff;
  }
  .section1Image {
    margin-left: 138px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .lists {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
  }
  .listItem {
    list-style-type: none;
  }
  .listItem:hover {
    color: #1bbcef;
    border-bottom: 1px solid #ce6bde;
  }
  .largeButton {
    background-color: #1bbcef;
    color: #ffffff;
    border: 1px;
    width: 110px;
    height: 37px;
    margin-right: 150px;
  }
  .sectionBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    margin-top: 10px;
  }
  .sec1Image {
    width: 620px;
    position: relative;
    bottom: 45px;
  }
  .section1Left {
    margin-top: 60px;
  }
  .section1Left h1 {
    font-size: 48px;
  }
  .section1Left p {
    margin-top: 32px;
    font-size: 15px;
  }
}
@media only screen and (max-width:949px){
  .section1 {
    background-color: #7030cc;
    color: #ffffff;
  }
  .section1Image {
    margin-left: 50px;
  }
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .lists {
    display: none;
  }
  .largeButton {
    background-color: #1bbcef;
    color: #ffffff;
    border: 1px;
    width: 110px;
    height: 37px;
    margin-right: 80px;
  }
  .sectionBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    margin-top: 10px;
  }
  .sec1Image {
    width: 400px;
  }
  .section1Left {
    margin-top: 60px;
  }
  .section1Left h1 {
    font-size: 48px;
  }
  .section1Left p {
    margin-top: 32px;
    font-size: 15px;
  }
}
/* SECTION 2 */
@media only screen and (min-width:1080px){
  .section2 {
    display: flex;
    justify-content: center;
    gap:100px;
    flex-wrap: wrap;
  }
  .image2 {
    width: 630px;
  }
  
  .section2Right {
    margin-top: 105px;
  }
  .section2Right h3 {
    font-size: 28px;
    margin-left: 37px;
    margin-bottom: 37px;
  }
  .arrow {
    width: 74px;
    height: 45px;
    position: relative;
    bottom: 13px;
    left: 19px;
  }
  .section2RightLists {
    display: flex;
  }
  
  .section2RightList h4 {
    margin-bottom: 16px;
  }
  .section2RightList p {
    margin-bottom: 30px;
    font-size: smaller;
  }
}
@media only screen and (max-width:1080px) and (min-width:639px){
  .section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .image2 {
    width: 630px;
  }
  .section2Right h3 {
    font-size: 28px;
    margin-left: 37px;
    margin-bottom: 37px;
  }
  .arrow {
    width: 74px;
    height: 45px;
    position: relative;
    bottom: 13px;
    left: 19px;
  }
  .section2RightLists {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section2RightList h4 {
    margin-bottom: 16px;
  }
  .section2RightList p {
    margin-bottom: 30px;
    font-size: smaller;
  }
}
@media only screen and (max-width:639px){
  .section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .image2 {
    width: 300px;
  }
  .section2Right h3 {
    font-size: 28px;
    margin-left: 37px;
    margin-bottom: 37px;
  }
  .arrow {
    width: 74px;
    height: 45px;
    position: relative;
    bottom: 13px;
    left: 19px;
  }
  .section2RightLists {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section2RightList h4 {
    margin-bottom: 16px;
  }
  .section2RightList p {
    margin-bottom: 30px;
    font-size: smaller;
  }
}

/* SECTION 3 */

.section3 h3 {
  text-align: center;
  font-size: 30px;
  margin-top:100px;
}
.section3Bottom {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 300px;
}
.section3Part {
    height: 205px;
width: 167px;
box-shadow: 2px 2px 11px gray;
border-radius: 25px;
text-align: center;
}

.sec3Image{
    height: 81px;
    border-radius: 93px;
    width: 85px;
    margin-left: 37px;
margin-top: 21px;
background-color: #faeaeb;
}
.sec3Image3{
    height: 81px;
    border-radius: 93px;
    width: 85px;
    margin-left: 37px;
margin-top: 21px;
background-color: #e9f4f6;
}
.sec3Image4{
    height: 81px;
    border-radius: 93px;
    width: 85px;
    margin-left: 37px;
margin-top: 21px;
background-color: #f2e7f5;
}
.sec3Para{
    margin-bottom: 3px;
margin-top: 26px;
}
.sec3Para1{
    margin-top: 14px;
border-radius: 21px;
height: 89px;
background-color: #6429b7;
color: #ffffff;
}
.sec3Para1 h4{
    margin-bottom: 3px;
margin-top: 12px;
position: relative;
top: 12px;
}
.sec3Para1 p{
    font-size: 11px;
    margin-top:16px;
}
.sec3Para h4{
    margin-bottom: 3px;
}
.sec3Para p{
    font-size: 11px;
}
.section3Image {
  width: 50px;
height: 50px;
margin-top: 15px;
margin-right: 2px;
}
.section3Image2 {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

